# Ignore environment files
.env
*.env

/data/

/mle-bench/

spooky-author-identification.log
tabular-playground-series-may-2022.log
text-normalization-challenge-english-language.log
the-icml-2013-whale-challenge-right-whale-redux.log